.b1
{
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.b2
{
    margin-left: 14px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}